
<ng-container>
    <div class="grid  gap-4 mb-5 md:mb-0">
        <div
            class="activity bg-white drop-shadow-md rounded p-2 dark:bg-lightblue"
        >
            <h3>
            </h3>
            <!-- <div class="flex gap-1 justify-between mb-2 dark:text-deepblue">
                <div class="legend flex justify-between mb-3">
                    <div class="flex justify-between">
                        <div class="pointstyle w-4 h-4 bg-secondary"></div>
                        <div class="title font-semibold text-xs pl-1">
                            Your Score Bar
                        </div>
                    </div>
                    <div class="flex ml-2 justify-between">
                        <div class="pointstyle w-4 h-4 bg-primary"></div>
                        <div class="title font-semibold text-xs  pl-1">
                            Other Scorebar
                        </div>
                    </div>
                </div>
                <div class="flex title font-semibold text-xs">
                    Your Average Test Score:
                    <span class="font-bold text-secondary pl-1">
                    </span>
                </div>
            </div> -->
            <div class=" h-72">
                <canvas
                    id="piechart"
                >
                </canvas>
            </div>
            <!-- <div class="flex justify-between py-4 gap-2 dark:text-deepblue">
                <div class="flex text-sm">
                    All users average test score:
                    <span class="font-bold text-secondary pl-1">
                        {{ score.data.users_avarage }} %
                    </span>
                </div>
                <div class="flex text-sm">
                    Active Members:
                    <span class="font-bold text-secondary pl-1">
                        {{ score.data.active_users }}
                    </span>
                </div>
                <div class="flex text-sm">
                    Your ranking:
                    <span class="font-bold text-secondary pl-1">
                        {{ score.data.my_rank }}
                    </span>
                </div>
            </div> -->
        </div>
    </div>
    
</ng-container>

<!-- <ng-template #elseBlock>score chart</ng-template> -->
