<div class="p-5 sm:p-0 sm:h-screen bg-cover md:bg-right bg-no-repeat flex justify-around items-end md:items-center" [style.background-image]="'url(assets/images/mrcem/homepage_banner_2019_0_1.jpg)'">
    <div class="backdrop-blur-xl bg-white/30 rounded-lg p-2 sm:py-16 sm:px-10 sm:w-11/12 lg:w-1/2 clip-hero">
      <div class="sm:text-center lg:text-left">
        <h1 class="text-2xl lg:text-5xl md:text-3xl tracking-tight font-extrabold text-white dark:text-deepblue">
          <span class="block xl:inline normal-case">The Ultimate Online Resource for the MRCEM Exam</span>
          
        </h1>
        <p class="mt-3 text-base text-white break-words lg:w-3/4 dark:text-deepblueshade3">
          Established in 2011, Medical Exam Prep has helped thousands of doctors pass the Royal College of Emergency Medicine exams.
        </p>
        <div class="mt-8 flex justify-center flex-col sm:flex-row">
          <div class="rounded-full shadow">
            <a  class="w-full flex items-center justify-center px-6 py-3 border border-transparent text-sm font-medium text-white bg-blue-600 hover:bg-blue-800 rounded-full dark:bg-deepblueshade3 hover:dark:bg-deepblue cursor-pointer">
              MRCEM PRIMARY FROM £35
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a  class="w-full flex items-center  justify-center px-6 py-3 border border-transparent text-sm font-medium rounded-full text-blue-500 bg-white hover:bg-blue-800 hover:text-white dark:bg-glosyblue hover:dark:bg-deepblue dark:text-white hover:dark:text-white cursor-pointer">
              MRCEM INTERMEDIATE SBA FROM £39
            </a>
          </div>
        </div>
      </div>
    </div>
    <div> </div>
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
  
  </div>