<div>
    <div class="text-center md:text-left text-lg md:text-lg lg:text-2xl text-deepblue font-semibold font-montserrat dark:text-lightblue">Free Revision Guide</div>
    <div class="text-center md:text-left my-2 sm:my-4 md:my-8 md:text-base text-lg text-deepblue font-medium font-montserrat dark:text-white">With Every Purchase</div>   
    <div class="hero container max-w-screen-lg mx-auto">
        <!-- <img class="mx-auto" src="https://picsum.photos/id/1/200/300" alt="screenshot" > -->
        <img class="h-48 sm:h-64 md:h-auto mx-auto" src="assets/images/mrcem/3D.png" alt="">
    </div>
</div>